<!-- views/partials/navigation.ejs -->

<!-- 메뉴 -->
<nav
  class="menu nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
>
  <ul class="nav-bar nav">
    <li class="nav-item">
      <a class="nav-link menu-item" name="About" href="/about">소개</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown02"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        name="Users"
        href="/users"
        >사용자</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown02">
        <a class="dropdown-item" href="/users">View All</a>
        <a class="dropdown-item" href="/users/new">Create New</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown03"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        name="Discussions"
        href="/discussions"
        >포럼</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown03">
        <a class="dropdown-item" href="/discussions">View All</a>
        <a class="dropdown-item" href="/discussions/new">Create New</a>
      </div>
    </li>
  </ul>
</nav>

<!-- 반응형 메뉴 버튼 -->
<div id="menu-button">Menu</div>
